.site-topbar .header-nav-menu{
	position: absolute;
	top: 41px;
	left: 0;
	z-index: 24;
	width: 100%;
	height: 220px;
	border-top: 1px solid #e0e0e0;
	background: #fff;
	overflow: hidden;
	-webkit-box-shadow: rgb(1,135,206) 0px 0px 10px;
	-moz-box-shadow: rgb(1,135,206) 0px 0px 10px;
	box-shadow: rgb(1,135,206) 0px 0px 10px;
}
.site-topbar .header-nav-menu div{
	margin: 0 70px;
}
.site-topbar .header-nav-menu .children-list{
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-size: 12px;
}
.site-topbar .header-nav-menu .children-list li{
	position: relative;
	float: left;
	width: 230px;
	padding: 30px 12px 0;
	text-align: center;
	list-style-type: none;
}
.site-topbar .header-nav-menu .figure-thumb{
	width: 160px;
	height: 110px;
	margin: 0 auto 16px;
	text-align: center;
}
.site-topbar .header-nav-menu .figure-thumb a{
	display: block;
}
.site-topbar .header-nav-menu .figure-thumb img{
	width: 160px;
	height: 110px;
	border: 0;
}
.site-topbar .header-nav-menu .title{
	color: #333;
	margin: 0;
	line-height: 20px;
	font-size: 14px;
	font-weight: 500;
}
.site-topbar .header-nav-menu .price{
	margin: 0;
	line-height: 20px;
	color: #ff6700;
	font-size: 14px;
	padding-top: 6px;
}