<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>chbixin</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>i-loginServlet</servlet-name>
    <servlet-class>servlet.I_LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>i-loginServlet</servlet-name>
    <url-pattern>/i-loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>houtailoginServlet</servlet-name>
    <servlet-class>servlet.HoutaiLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>houtailoginServlet</servlet-name>
    <url-pattern>/houtailoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addgoodsServlet</servlet-name>
    <servlet-class>servlet.AddGoodsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addgoodsServlet</servlet-name>
    <url-pattern>/addgoodsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addstockServlet</servlet-name>
    <servlet-class>servlet.AddStockServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addstockServlet</servlet-name>
    <url-pattern>/addstockServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addzhuceServlet</servlet-name>
    <servlet-class>servlet.AddZhuceUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addzhuceServlet</servlet-name>
    <url-pattern>/addzhuceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addi_zhuceServlet</servlet-name>
    <servlet-class>servlet.AddI_ZhuceUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addi_zhuceServlet</servlet-name>
    <url-pattern>/addi_zhuceServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>addmanagerServlet</servlet-name>
    <servlet-class>servlet.AddManagerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addmanagerServlet</servlet-name>
    <url-pattern>/addmanagerServlet</url-pattern>
  </servlet-mapping>
  
  
</web-app>